<template lang="pug">
.npcmaker
    NPCSheet(:activeNPC="testman")
    .spacer.h-8
    NPCJson(:activeNPC="testman")
</template>

<script lang="ts">
import { defineComponent, reactive } from "@vue/composition-api";
import NPCSheet from "@/components/NPCSheet.vue";
import NPCJson from "@/components/NPCJson.vue";
import { NPC } from '../types';

export default defineComponent({
    components: {
        NPCSheet,
        NPCJson,
    },
    setup() {
        const testman = reactive(new NPC())
        return {
            testman,
        }
    }
})
</script>

<style lang="stylus" scoped>

</style>