<template>
<div
v-if="editor"
class="tiptap-vuetify-editor"
>
    <editor-content
        :editor="editor"
    />
</div>
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api';
import { Editor, EditorContent, Extension, Doc, Text, Paragraph } from 'tiptap'
import { Placeholder } from 'tiptap-extensions'
// import TextOnlyDoc from "@/nodes/TextOnly";


export default defineComponent({
    name: "reactive-editor",
    components: {
        EditorContent,
    },
    props: {
        value: {
            type: String,
            required: true,
        },
        extensions: {
            type: Array,
            default: () => [] as Extension[],
        },
        placeholder: String,
        editable: {
            type: Boolean,
            default: true,
        },
        editorProperties: {
            type: Object,
            default: () => ({}),
        },
        singleLine: {
            type: Boolean,
            default: false,
        }
    },
    setup(props, context) {
        function strip(html: string){
            const doc = new DOMParser().parseFromString(html, 'text/html');
            return doc.body.textContent || "";
        }

        // const myExtensions = props.extensions
        // if (props.singleLine) {
        //     myExtensions.push(TextOnlyDoc)
        //     myExtensions.push(Text)
        // } else {
        //     myExtensions.push(Doc)
        //     myExtensions.push(Text)
        //     myExtensions.push(Paragraph)
        // }

        const editor = new Editor({
            extensions: [
                // ...myExtensions,
            ],
            // useBuiltInExtensions: true,
            editable: props.editable,
            ...props.editorProperties,
            onUpdate: ({ getHTML }: any) => {
                context.emit('input', strip(getHTML()))
            },
        })
        if (props.value) {
            editor.setContent(props.value, false, {})
        } else if (props.placeholder) {
            editor.setContent(props.placeholder, false, {})
        } else {
            editor.setContent('...', false, {})
        }

        return {
            editor,
        }
    }
})
</script>

<style lang="stylus" scoped>
.tiptap-vuetify-editor
    min-width 2rem


</style>

<style lang="stylus">



.editor *.is-empty:nth-child(1)::before,
.editor *.is-empty:nth-child(2)::before
  content: attr(data-empty-text)
  float: left
  color: #aaa
  pointer-events: none
  height: 0
  font-style: italic


.editor p.is-editor-empty:first-child::before
  content: attr(data-empty-text)
  float: left
  color: #aaa
  pointer-events: none
  height: 0
  font-style: italic
</style>
