<template lang="pug">
.featureblock
    table
        th.text-left
            span.text-left {{system.name}}
            br
            span.text-left {{system.tags.map((tag) => tag.name).join(', ')}}
        tr(v-if="system.trigger")
            td {{system.trigger}}
        tr
            td {{system.effect}}
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'
import { NpcFeature } from '../types'
export default defineComponent({
    props: {
        system: {
            type: NpcFeature,
            required: true,
        },
    },
    setup(props) {
        return {}
    },
})
</script>

<style lang="stylus" scoped>

</style>