<template lang="pug">
.npcjson
    pre(width="100%").text-justify {{getJSON()}}
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'
import { NPC } from '@/types'
export default defineComponent({
    props: {
        activeNPC: { type: NPC, required: true, },
    },
    setup(props) {
        const data = props.activeNPC

        function getJSON() {
            return `
//npc_classes.json
    {
        "id": "${data.prefix.toLowerCase()}_${data.name.toLowerCase()}",
        "name": "${data.name}",
        "role": "${data.role}",
        "info": {
            "flavor": "${data.flavor}",
            "tactics": "${data.tactics}"
        },
        "base_features": [
            ${data.basesystems.map((ft) => 
                '"' 
                + data.prefix.replace(/ +/gi, "_").toLowerCase()
                + '_' 
                + data.name.replace(/ +/gi, "_").toLowerCase()
                + '_' 
                + ft.name.replace(/ +/gi, "_").toLowerCase()
                + '",').join('\n            ')}
        ],
        "optional_features": [
            ${data.optionalsystems.map((ft) => 
                '"' 
                + data.prefix.replace(/ +/gi, "_").toLowerCase()
                + '_' 
                + data.name.replace(/ +/gi, "_").toLowerCase()
                + '_' 
                + ft.name.replace(/ +/gi, "_").toLowerCase()
                + '",').join('\n            ')}
        ],
        "power": ${data.power},
        "stats": {
            "hull": [${data.stats.hull.toString()}],
            "agility": [${data.stats.agility.toString()}],
            "systems": [${data.stats.systems.toString()}],
            "engineering": [${data.stats.engineering.toString()}],
            "hp": [${data.stats.hp.toString()}],
            "armor": [${data.stats.armor.toString()}],
            "evasion": [${data.stats.evasion.toString()}],
            "edef": [${data.stats.edef.toString()}],
            "speed": [${data.stats.speed.toString()}],
            "heatcap": [${data.stats.heatcap.toString()}],
            "save": [${data.stats.save.toString()}],
            "sensor": [${data.stats.sensor.toString()}],
            "size": [[${data.size}],[${data.size}],[${data.size}]],
        }
    }

//npc_features.json
    ` + data.basesystems.map( (feat) => {
        return `
    {
        "id": "${data.prefix.replace(/ +/gi, "_").toLowerCase()}_${data.name.replace(/ +/gi, "_").toLowerCase()}_${feat.name.replace(/ +/gi, "_").toLowerCase()}",

    }`
    }).join(',')
        }
        return {
            getJSON,
        }
    }
})
</script>

<style lang="stylus" scoped>

</style>