<template lang="pug">
.npc-display.container.mx-auto.object-top.max-w-6xl
    .flex.flex-row.flex-initial.flex-no-wrap.justify-between
        select(v-model="size" style="font-family: 'compcon';").text-4xl
            option(value=0.5)
                span.cci-size-half ½
            option(value=1)
                span.cci-size-1 1
            option(value=2).cci-size-2 2
            option(value=3).cci-size-3 3
            option(value=4).cci-size-4 4
        .nameblob.flex-centered.centered.flex-column.justify-center 
            h1(center).text-center.rtc 
                reactive-editor(v-model="name" placeholder="NPC Class Name" :singleLine="true")
            //- p(center).ma-0.pa-0.text-center.rtc 
            reactive-editor(v-model="role" placeholder="Striker" :singleLine="true")
        h1.text-right.text-5xl.rtc(:class="roleImage(role)")
    reactive-editor(v-model="flavor" placeholder="flavortext").mx-auto.text-justify.desctext.fc.lhn
    table(width="100%").ma-0.noborder
        thead.ma-0.noborder
            th.tierhead.text-left.ma-0.pa-2.t1 Tier 1
            th.tierhead.text-left.ma-0.pa-2.t2 Tier 2
            th.tierhead.text-left.ma-0.pa-2.t3 Tier 3
        td.ma-0
            TierBlock(
                :stats="stats"
                :tier="1"
                :size="size"
            )
        td.bordercol.ma-0
            TierBlock(
                :stats="stats"
                :tier="2"
                :size="size"
            )
        td.bordercol.ma-0
            TierBlock(
                :stats="stats"
                :tier="3"
                :size="size"
            )
    div
        h2.fh TACTICS
        reactive-editor(v-model="tactics" placeholder="Tactics text").text-justify.fh
        h2.fh BASE SYSTEMS
            FeatureBlock(
                v-for="system in basesystems"
                :key="system.id"
                :system="system"
            )
        h2.fh OPTIONAL SYSTEMS
            FeatureBlock(
                v-for="system in optionalsystems"
                :key="system.id"
                :system="system"
            )
    
</template>

<script lang="ts">
import { defineComponent, reactive, toRefs } from '@vue/composition-api'
import { EditorContent } from 'tiptap'
import { NPC } from "@/types";
import TierBlock from '@/components/TierBlock.vue'
import FeatureBlock from '@/components/FeatureBlock.vue'
import ReactiveEditor from "@/components/EmbeddedReactiveEditor.vue";


export default defineComponent({
    name: "NPCSheet",

    components: {
        TierBlock,
        FeatureBlock,
        EditorContent,
        ReactiveEditor,
    },

    props: {
        activeNPC: { type: NPC, required: true, },
    },

    setup(props, context) {
        const subject = reactive(props.activeNPC)

        function sizeImage() {
            // #TODO
            return ""
        }

        function roleImage(role: string) {
            switch (role.toLowerCase()) {
                case "artillery":
                    return "cci-role-artillery"
                case "controller":
                    return "cci-role-controller"
                case "striker":
                    return "cci-role-striker"
                case "support":
                    return "cci-role-support"
                case "defender":
                    return "cci-role-defender"
                default:
                    return "cci-nested-hexagons"
            }
        }
        
        return {
            ...toRefs(subject),
            sizeImage,
            roleImage,
        }
    },
})
</script>

<style lang="stylus" scoped>

@import "../assets/glyphs.css"

.rtc
    color: #c00000

.lhn
    line-height: normal

.fc
    font-family Consolas

.fh
    font-family Helvetica

.desctext
    max-width: 85%

.bordercol
    border-style none none none solid
    border-color #c22026

.tierhead
    color: white
    &.t1
        background-color: #e1484c
    &.t2
        background-color: #900002
    &.t3
        background-color: #450304

.noborder
    border-style none
    border-spacing 0px

</style>