<template lang="pug">
v-card.ma-2
    v-card-text
        v-select.d-inline(
            :items="featureTypes"
            v-model="feature.type"
        )
        v-text-field(
            label="id"
            :value="id"
            readonly
        )
        v-text-field(
            label="name"
            v-model="feature.name"
        )
        v-textarea(
            label="trigger"
            v-if="feature.type == 'Reaction'"
            v-model="feature.trigger"
        )
        v-textarea(
            label="effect"
            v-model="feature.effect"
        )
        v-combobox(
            label="tags"
            v-model="feature.tags"
            multiple
            :items="tags"
            item-text="name"
            item-value="id"
            hide-selected
            chips
            deletable-chips
        )
            template( v-slot:selection="{ item }" )
                v-chip(@click.stop)
                    .chipinside
                        span {{item.name}}
                        input(
                            v-model="item.val" 
                            type="number" 
                            v-if="item.name.includes('{VAL}')"
                        )
                        input(
                            v-model="item.target"
                            v-if="item.name.includes('(TARGET)')"
                        )
                //- v-tooltip( top) 
                    //- v-model="item.editing"
                    template( 
                        #activator="{ on: click }" )
                        v-chip(@click.stop="") {{item.name}} 
                        //- @click.stop="item.editing = !item.editing"
                    v-card(v-if="item.name.includes('{VAL}') || item.name.includes('(TARGET)')")
                        v-card-text
                            v-text-field(
                                label="val"
                                v-model="item.val"
                            )
                            v-text-field(
                                label="target"
                                v-model="item.target"
                                v-if="item.name.includes('(TARGET)')"
                            )
    v-card-actions
        v-btn(@click="remove") -
</template>

<script lang="ts">
import { computed, defineComponent } from '@vue/composition-api'
import { NpcFeature } from '@/types'
import { useTags } from '@/composables/useTags'


export default defineComponent({
    props: {
        prefix: {
            type: String,
            required: true,
        },
        parentName: {
            type: String,
            required: true,
        },
        feature: {
            type: NpcFeature,
            required: true,
        }
    },
    setup(props, { emit }) {
        const id = computed(() => props.prefix.replace(/ +/gi, "_").toLowerCase() + "_" + props.parentName.replace(/ +/gi, "_").toLowerCase() + "_" + props.feature.name.replace(/ +/gi, "_").toLowerCase())
        function remove() {
            emit('remove')
        }
        const featureTypes = [
            'Trait',
            'System',
            'Reaction',
            'Weapon',
            'Tech',
        ]
        const tags = useTags()
        return {
            id,
            remove,
            featureTypes,
            tags,
        }
    },
})

</script>

<style lang="stylus" scoped>

</style>
