<template lang="pug">
    table.tier--table(width="100%").ma-0.pa-0
        tr.ma-0.pa-0
            td.ma-0.pa-0
                table.mechskills--table(width="100%").ma-0
                    thead.headerbg.ma-0.pa-0
                        tr.headerrow.ma-0.pa-0
                            th(colspan="2").text-left.ma-0.pa-0.fh.fs-20 MECH SKILLS
                    tr.ma-0.pa-0
                        td
                            span.fc.text-left #[strong Hull:] 
                            span {{stats.hull[tier-1]>=0 ? '+': ''}}
                            reactive-editor(v-model="stats.hull[tier-1]" placeholder="0")
                        td
                            span.fc.text-left #[strong Systems:] 
                            span {{stats.systems[tier-1]>=0 ? '+': ''}}
                            reactive-editor(v-model="stats.systems[tier-1]" placeholder="0")
                    tr.ma-0.pa-0
                        td
                            span.fc.text-left #[strong Agility:] 
                            span {{stats.agility[tier-1]>=0 ? '+': ''}}
                            reactive-editor(v-model="stats.agility[tier-1]" placeholder="0")
                        td
                            span.fc.text-left #[strong Engineering:] 
                            span {{stats.engineering[tier-1]>=0 ? '+': ''}}
                            reactive-editor(v-model="stats.engineering[tier-1]" placeholder="0")


        tr.ma-0
            td
                table.corestats--table(width="100%")
                    thead.headerbg
                        tr.headerrow
                            th(colspan="2").text-left.mr-4.fh.fs-20 CORE STATS
                    tr
                        td.fc.text-left #[strong HP:] {{stats.hp[tier-1]}}
                        td.fc.text-left #[strong Armor:] {{stats.armor[tier-1]}}
                    tr
                        td.fc.text-left #[strong Evasion:] {{stats.evasion[tier-1]}}
                        td.fc.text-left #[strong E-Defense:] {{stats.edef[tier-1]}}
                    tr
                        td.fc.text-left #[strong Speed:] {{stats.speed[tier-1]}}
                        td.fc.text-left #[strong Size:] {{size}}
                    tr
                        td.fc.text-left #[strong Heat Cap:] {{stats.heatcap[tier-1]}}
                        td.fc.text-left #[strong Save Target:] {{stats.save[tier-1]}}
                    tr
                        td.fc.text-left #[strong Sensors:] {{stats.sensor[tier-1]}}
                        td.fc.text-left 
</template>

<script lang="ts">
import { defineComponent } from '@vue/composition-api'
import { NpcStats } from '../types'
export default defineComponent({
    props: {
        stats: Object,
        tier: Number,
        size: [Number, String],
    },

    setup(props) {
        return {}
    }
})
</script>

<style lang="stylus" scoped>
.fs-20
    font-size 20px

.fc
    font-family Consolas

.fh
    font-family Helvetica

.tier--thead
    background-color: #cc0000

</style>